* *::-moz-selection {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    text-shadow: none;
}
* {

    margin: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
html {

    font-family: sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	padding-top: 20px;
	font-size: 16px;
	font-family: "Open Sans",serif;
	background: transparent;
    color: #414141;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 400;
    text-rendering: optimizelegibility;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color: #444;
	padding:0 0 2em 0;
	margin:0;
}
body, input, textarea {

    line-height: 1.5;
}
header {

	padding: 0;
	width:100%;
	height:auto;
	margin: 0 auto 0 auto;
	clear:both;
}
body section, body aside{

	margin-top: 240px !important;
}
body aside{

	float:left;
	width:20%;
	height:auto;
	margin: 0 0 0 0;
	background:#fff;
}
body section#main {

	width:25%;
	margin: 0 0 0px 0;
	float:right;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: uppercase;
}
h1 {

	font-size: 2em;
	color: #99b92c;
	font-weight: normal;
	text-shadow: 1px 1px 1px #cccccc;
	text-align:center;
	padding:0.8em;
	width:90%;
	margin:0;
    margin-bottom: 20px;
}
h2 {
	font-size: 2em;
	font-weight:bold;
	margin: 1.5em 0 .8em 0;
	color: #444;
	text-shadow: 1px 1px 1px #cccccc;
}
h3 {
	font-size: 1em;
	font-weight:bold;
	margin: 1.5em 0 .8em 0;
	color: #444;
}
ul, li {
    margin: 0;
    padding: 0;
}
li {
	background: url(/css/img/ico-puce.png) no-repeat scroll left 7px transparent;
	list-style-type:none;
	padding-left: 10px;
}
input[type="number"] {
		line-height:1.5;
		width:50px;
		border-radius:5px;
		border: 1px solid #dadada;
	}
table {
	width: auto;
	margin: 1em 0;
}
th {
	color:#555;
	background: #DDD;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
th, td {

	text-align: left;
	padding: 5px 8px;
}

fieldset {
	border:0;
	padding:0;
}
legend {

	padding-bottom: 1em;
}
a {

    color: inherit;
    text-decoration: none;
}
footer{

	clear:both;
}
@media (max-width: 640px) {
	h1 {font-size:2.5em;}
	img {
	height: auto; width: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    }
	 body, details, .mentions {
	   width: auto;
	   margin: auto;
	   padding: auto;
	 }
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	   max-width: 100%;
	}
	textarea, table, td, th, code, pre, samp {
	   word-wrap: break-word;
	   -webkit-hyphens: auto;
	   -moz-hyphens: auto;
	   hyphens: auto;
	}
	code, pre, samp {
	   white-space: pre-wrap;
	}

	p + details, form, h3 {margin-left:0 !important;}
	img {
	   float: none !important;
	   width: auto !important;
	}
	.mentions {
		background-image:none;
	}
	.hide_mobile {
	   display: none !important;
	}
}
@media (max-width:640px) and (orientation: landscape) {
  body {
   -webkit-text-size-adjust: 70%;
  }
}
article {

	margin:1em;
	padding:1em;
	background:#fff;
}
aside {

	display: none;
	visibility: hidden;
}
article {

	background:#fff;
	margin:1em 3em;
	padding:0.5em;
	display: block;
}
article, footer, header, aside, nav {

	position:relative;
}
footer {

	width: 100%;
	background-color: #000000;
	color: #CCC;
	padding: 0px;
	margin: 0px;
	line-height: 1.5;
	background: #b8b2b8;
	background: -moz-linear-gradient(top, #b8b2b8 0%, #131313 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #b8b2b8), color-stop(100%, #131313));
	background: -webkit-linear-gradient(top, #b8b2b8 0%, #131313 100%);
	background: -o-linear-gradient(top, #b8b2b8 0%, #131313 100%);
	background: -ms-linear-gradient(top, #b8b2b8 0%, #131313 100%);
	background: linear-gradient(to bottom, #b8b2b8 0%, #131313 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b2b8', endColorstr='#131313', GradientType=0 );
	-webkit-box-shadow: 0px -6px 5px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -6px 5px -2px rgba(0,0,0,0.75);
	box-shadow: 0px -6px 5px -2px rgba(0,0,0,0.75);
}
div[role="banner"] img {

	float: left;
  	width: 5%;
  	height: auto;
	padding:20px;
  	height: auto;
}
div[role="contentinfo"] {

	padding: 4px;
	text-align: right;
}
div#contact {

	margin: 0px;
	padding: 20px;
	padding-bottom: 0px;
	text-align: center;
}
nav[role="navigation"] {

	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
svg#svg2{

	width: 100%;
	height: auto;
	z-index: 1;
}
#map_canvas { 

	-webkit-box-shadow: 14px 14px 0px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 14px 0px 3px rgba(0,0,0,0.75);
	box-shadow: 14px 14px 0px 3px rgba(0,0,0,0.75);
	border: 1px solid black; 
	background-color: #CCCCCC;
	display: block;
	width: 80%; 
	height: 80%;
	z-index: 99;
	min-width: 150px;
	min-height: 150px;
}
.map{ 

	display: block;
	width: 100%; 
	height: 100%;
	min-width: 150px;
	min-height: 150px;
}
#container {
    margin: 0px auto;
    width: 90px;
    height: 80px;
    border: 1px #333 solid;	
	display: none;
	visibility: hidden;
}
#videoElement {
    width: 90px;
    height: 80px;
    background-color: #666;
}
#canvas {
    width: 90px;
    height: 80px;
	background-color: #CCC;
	display: none;
	visibility: hidden;
}
#id {
 
 width: 90px;
 height: 80px;
}
#imgtag {

	display: none;
	visibility: hidden;
}
#fileselect {

	display: none;
	visibility: hidden;
}